.section {
    background-color: #0F172A;
    border-bottom: 1px solid #1E293B;
    padding: 48px 16px;
    display: flex;
    gap: 48px;
}

.border {
    width: 100%;
    padding: 20px 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #FACC15;
}

.number {
    font-weight: 800;
    font-size: clamp(40px, 8vw, 72px);
    line-height: 110%;
}

.label {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 24px);
    color: #FACC15;
}

@media (min-width: 768px) {

    .section {
        padding: 30px 90px;
        gap: 48px;
    }

    .border {
        padding: 80px 80px;
    }

    .container {
        flex-direction: row;
    }
}