.footer {
    background: #0F172A;
    color: #E2E8F0;
    padding: 0px 16px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 48px 0px;
    box-sizing: border-box;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.innercol {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footert {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    padding: 12px 0px;
}

.link {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: flex-start;
}

.div {
    border-top: 1px solid #3e4249;
    margin: 0 10px;
}

.bottom {
    padding: 24px 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    box-sizing: border-box;
}

.links2 {
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.beta {
    background-color: #F3E8FF;
    color: #6B21A8;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 10px;
}
.contact{
    display: none;
}

@media (min-width: 768px) {
    .footer {
        padding: 0px 80px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        padding: 48px, 40px;

    }

    .bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 40px;
    }

    .links2 {
        gap: 20px;
        justify-content: flex-end;
    }
    .contact{
        display: block;
    }
}

@media (min-width: 1280px) {
    .container {
        grid-template-columns: 1.4fr repeat(5, 1fr);
        gap: 48px;
        padding: 64px 20px;
    }

    .bottom {
        padding: 28px 20px;
    }

    .links2 {
        flex-wrap: nowrap;
        gap: 32px;
    }
}