.Header {
    font-family: 'Roboto';
    padding: clamp(24px, 2vw, 80px) clamp(20px, 6vw, 80px);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow: hidden;
    box-sizing: border-box;
}

.lcontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
}

.title {
    font-weight: 800;
    font-size: clamp(24px, 6vw, 56px);
    line-height: 110%;
    color: #0f172a;
    position: relative;
}

.para {
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);
    line-height: 160%;
    color: #0F172A;
}
.features{
    position: relative;
    z-index: 10;
}

.link {
    font-weight: 500;
    font-size: clamp(16px, 4vw, 20px);
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #2563eb;
    cursor: pointer;
}

.vector {
    position: absolute;
    left: 58%;
    bottom: -3px;
    z-index: 0;
    width: clamp(90px, 18vw, 210px);
    z-index: 0;
}
.rcontainer {
    width: 100%;
    max-width: 600px;
}
.image {
    position: relative;
    width: 140%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.blob4 {
    z-index: 0;
    width: 85%;
    height: 95%;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: -4%;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 18px;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: auto;
    top: 5%;
    left: 0%;
}
.line{
    position: relative;
    display: inline-block;
}

.pic1 {
    z-index: 10;
    position: absolute;
    width: 45%;
    height: auto;
    top: 16%;
    left: 45%;
}

.avatar {  
    display: none;
}

.pic2 {
    display: flex;
    flex-direction: row;
    z-index: 20;
    position: absolute;
    width: 65%;
    height: auto;
    bottom: 5%;
    left: -4%;
}

.pic3 {
    display: flex;
    flex-direction: row;
    z-index: 20;
    position: absolute;
    width: 50%;
    height: auto;
    bottom: 6%;
    left: 56%;
}

@media (min-width: 768px) {
        .Header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .lcontainer {
        flex: 1;
        max-width: 544px;
    }

    .rcontainer {
        flex: 1;
        max-width: 580px;
    }
    .vector {
        position: absolute;
        left: 30px;
    
    }
}

@media (min-width: 1203px) {


    .lcontainer {
        gap: 32px;
    }

    .vector {
        position: absolute;
        left: 300px;
        bottom: -9px;
        z-index: 0;
        width: 210px;
    }

    .blob4 {
        height: 80%;
        top: 5%;
        left: -15%;
    }

    .cards {
        gap: 18px;
        z-index: 10;
        position: absolute;
        width: 570px;
        top: 17%;
        left: -10%;
    }

    .pic1 {
        z-index: 10;
        position: absolute;
        width: 32%;
        top: 22%;
        left: 18%;
    }

    .avatar {
        display: flex;
        flex-direction: row;
        z-index: 20;
        position: absolute;
        top: 28%;
        left: 39%;
    }

    .pic2 {
        z-index: 20;
        position: absolute;
        width: 50%;
        height: auto;
        bottom: 19%;
        left: -13%;
    }

    .pic3 {
        z-index: 10;
        position: absolute;
        width: 40%;
        height: auto;
        bottom: 19%;
        left: 34%;
    }
}